.code_bg, .black_cover{
	height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

.code_bg {
    background-image:url("SatherGate.jpg"); 
    background-size: cover;
    
}

.black_cover {
	background:black; 
    opacity: 0.5;

}

.text_layer {
	position: absolute;
	height: 100%;
	width: 100%;
    top: 40%;
    left: 0px;
}

.center_HelloWorld {
	font-family:Courier;
    text-align: center;
    font-size: 300%;
    top: 50%;
   	color:white	
}



.white_bg {
	position: absolute;
    background-color: #EEEEEE;
    background-size: cover; 
    top: 100%;
    height: 100%;
    width: 100%;
    left: 0px;
}

.about_me, .mohit_image {
	position: absolute;
	height: 86%;
    width: 40%;
    top: 4%;
    border-radius: 5%;
    padding: 1%;
    left: 5%
}

.about_me {
	background: blue;
	width: 80%;
}

.mohit_image {
	top: 6%;
	background-image: url("Mohit_Image.jpg");
	height: 80%;
	width: 30%;
}
