.code_bg {
    background-image:url("SatherGate.jpg"); 
    background-size: cover;
    height: 600px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

.black_cover {
	background:black; 
	position: fixed;
	height: 600px;
	width: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.5;

}

.text_layer {
	position: absolute;
	height: 600px;
	width: 100%;
    top: 40%;
    left: 0px;
}

.center_HelloWorld {
	font-family:Courier;
    text-align: center;
    font-size: 300%;
    height:200px;
    top: 50%;
   	color:white	
}

.blue_bg {
    background: white; 
    height: 600px;
    width: 100%;
    position: absolute;
    top: 600px;
    left:0px;
}

.black_berkeley_bg {
    background: black; 
    background-position: center;
    background-size: cover;

    height: 400px;
    width: 100%;
    position: absolute;
    top: 600px;
    left: 0px;
    opacity: 0.5;

}