.code_bg, .black_cover{
	height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

.code_bg {
    background-image:url("SatherGate.jpg"); 
    background-size: cover;
    
}

.black_cover {
	.intro;
	background:black; 
    opacity: 0.5;

}

.text_layer {
	position: absolute;
	height: 100%;
	width: 100%;
    top: 40%;
    left: 0px;
}

.center_HelloWorld {
	font-family:Courier;
    text-align: center;
    font-size: 300%;
    top: 50%;
   	color:white	
}

.white_bg {
    background: white; 
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    left:0px;
}

.rounded_retangeles{
	
}


.mohit_image {
	background-image: url("Mohit_Image.jpg")
}
